body{
    background-color: rgb(197, 214, 228);
}
div{
    display: inline-block;
}

/* Sweden Flag */
        .sweden-container{
            display: grid;
            grid-template-columns: 50px 20px 90px;
            grid-template-rows: 40px 20px 40px;
        }
    /* Sweden Flag Blue Sections: */
        .sweden-top-left{
            grid-column: 1/3;
            grid-row: 1/3;
            background-color: rgb(36, 103, 176);
        }
        .sweden-bottom-left{
            grid-column: 1/3;
            grid-row: 3/3;
            background-color: rgb(36, 103, 176);
        }
        .sweden-top-right{
            grid-column: 3/3;
            grid-row: 1/3;
            background-color: rgb(36, 103, 176);
        }
        .sweden-bottom-right{
            grid-column: 3/3;
            grid-row: 3/3;
            background-color: rgb(36, 103, 176);
        }
    /* Sweden Flag Yellow Sections: */
        .sweden-line-top{
            grid-column: 2/3;
            grid-row: 1/3;
            background-color: rgb(237, 205, 45);
        }
        .sweden-line-left{
            grid-column: 1/3;
            grid-row: 2/3;
            background-color: rgb(237, 205, 45);
        }
        .sweden-line-bottom{
            grid-column: 2/3;
            grid-row: 3/3;
            background-color: rgb(237, 205, 45);
        }
        .sweden-line-right{
            grid-column: 3/3;
            grid-row: 2/3;
            background-color: rgb(237, 205, 45);
        }

/* Denmark Flag */
        .denmark-container{
            display: grid;
            grid-template-columns: 60px 20px 90px;
            grid-template-rows: 60px 20px 60px;
        }
    /* Denmark Flag Red Sections: */
        .denmark-top-left{
            grid-column: 1/3;
            grid-row: 1/3;
            background-color: red;
        }
        .denmark-bottom-left{
            grid-column: 1/3;
            grid-row: 3/3;
            background-color: red;
        }
        .denmark-top-right{
            grid-column: 3/3;
            grid-row: 1/3;
            background-color: red;
        }
        .denmark-bottom-right{
            grid-column: 3/3;
            grid-row: 3/3;
            background-color: red;
        }
    /* Denmark Flag White Sections: */
        .denmark-line-top{
            grid-column: 2/3;
            grid-row: 1/3;
            background-color: white;
        }
        .denmark-line-left{
            grid-column: 1/3;
            grid-row: 2/3;
            background-color: white;
        }
        .denmark-line-bottom{
            grid-column: 2/3;
            grid-row: 3/3;
            background-color: white;
        }
        .denmark-line-right{
            grid-column: 3/3;
            grid-row: 2/3;
            background-color: white;
        }


/* Finland Flag */
        .finland-container{
            display: grid;
            grid-template-columns: 50px 30px 100px;
            grid-template-rows: 50px 30px 50px;
        }
    /* Finland Flag White Sections: */
        .finland-top-left{
            grid-column: 1/3;
            grid-row: 1/3;
            background-color: white;
        }
        .finland-bottom-left{
            grid-column: 1/3;
            grid-row: 3/3;
            background-color: white;
        }
        .finland-top-right{
            grid-column: 3/3;
            grid-row: 1/3;
            background-color: white;
        }
        .finland-bottom-right{
            grid-column: 3/3;
            grid-row: 3/3;
            background-color: white;
        }
    /* Finland Flag Blue Sections: */
        .finland-line-top{
            grid-column: 2/3;
            grid-row: 1/3;
            background-color: rgb(36, 103, 176);
        }
        .finland-line-left{
            grid-column: 1/3;
            grid-row: 2/3;
            background-color: rgb(36, 103, 176);
        }
        .finland-line-bottom{
            grid-column: 2/3;
            grid-row: 3/3;
            background-color: rgb(36, 103, 176);
        }
        .finland-line-right{
            grid-column: 3/3;
            grid-row: 2/3;
            background-color: rgb(36, 103, 176);
        }

/* Iceland Flag */
        .iceland-container{
            display: grid;
            grid-template-columns: 70px 10px 20px 10px 140px;
            grid-template-rows: 70px 10px 20px 10px 70px;
        }
    /* Iceland Flag Blue Sections: */
        .iceland-top-left{
            grid-column: 1/5;
            grid-row: 1/5;
            background-color: rgb(52, 124, 202);
        }
        .iceland-bottom-left{
            grid-column: 1/5;
            grid-row: 5/5;
            background-color: rgb(52, 124, 202);
        }
        .iceland-top-right{
            grid-column: 5/5;
            grid-row: 1/5;
            background-color: rgb(52, 124, 202);
        }
        .iceland-bottom-right{
            grid-column: 5/5;
            grid-row: 5/5;
            background-color: rgb(52, 124, 202);
        }
    /* Iceland Flag White Sections: */
        .iceland-outer-line-top1{
            grid-column: 2/5;
            grid-row: 1/5;
            background-color: white;
        }
        .iceland-outer-line-left1{
            grid-column: 1/5;
            grid-row: 2/5;
            background-color: white;
        }
        .iceland-outer-line-bottom1{
            grid-column: 2/5;
            grid-row: 5/5;
            background-color: white;
        }
        .iceland-outer-line-right1{
            grid-column: 5/5;
            grid-row: 2/5;
            background-color: white;
        }
        .iceland-outer-line-top2{
            grid-column: 4/5;
            grid-row: 1/3;
            background-color: white;
        }
        .iceland-outer-line-left2{
            grid-column: 1/3;
            grid-row: 4/5;
            background-color: white;
        }
        .iceland-outer-line-bottom2{
            grid-column: 4/5;
            grid-row: 5/5;
            background-color: white;
        }
        .iceland-outer-line-right2{
            grid-column: 5/5;
            grid-row: 4/5;
            background-color: white;
        }
        /*Needed an extra pixel to cover the corner intersection of the bottom right white area: */
        .iceland-outer-line-right-bottom-corner2{
            grid-column: 4/5;
            grid-row: 4/5;
            background-color: white;
        }
    /* Iceland Flag Red Sections: */
        .iceland-inner-line-top{
            grid-column: 3/5;
            grid-row: 1/5;
            background-color: red;
        }
        .iceland-inner-line-left{
            grid-column: 1/5;
            grid-row: 3/5;
            background-color: red;
        }
        .iceland-inner-line-bottom{
            grid-column: 3/5;
            grid-row: 5/5;
            background-color: red;
        }
        .iceland-inner-line-right{
            grid-column: 5/5;
            grid-row: 3/5;
            background-color: red;
        }

/* Make Your Own Flag */
        .diy-container{
            display: grid;
            grid-template-columns: 70px 70px 70px 70px;
            grid-template-rows: 45px 30px 15px 25px;
        }
    /* Make Your Own Flag Horizontal Sections: */
        .diy-line1{
            grid-column: 1/4;
            grid-row: 1/4;
            background-color: rgb(255, 235, 133);
        }
        .diy-line2{
            grid-column: 1/4;
            grid-row: 2/4;
            background-color: rgb(255, 202, 78);
        }
        .diy-line3{
            grid-column: 1/4;
            grid-row: 3/4;
            background-color: rgb(242, 119, 78);
        }
        .diy-line4{
            grid-column: 1/4;
            grid-row: 4/4;
            background-color: rgb(69, 95, 243);
        }
    /* Make Your Own Flag Sun: */
        .diy-top-sun{
            grid-column: 2/2;
            grid-row: 2/3;
            background-color: rgb(253, 250, 199);
        }
        .diy-bottom-sun{
            grid-column: 2/2;
            grid-row: 3/3;
            background-color: rgb(253, 250, 199);
        }
        
